{% extends 'base.html' %}

{% block body %}
    <h1>Product Detail</h1>
    <a href="{% url 'list-products' %}">
        <button>Back</button>
    </a>
    <ul>
        <li><strong>Name:</strong> {{ object.name }}</li>
        <li><strong>Description:</strong> {{ object.description }}</li>
        <li><strong>Price:</strong> {{ object.price }}</li>
        <li><strong>Supplier:</strong> {{ object.supplier.name }}</li>

    </ul>
    <a href="{#% url 'product_update' pk=object.pk %#}">Update</a>
    <form action="{#% url 'product_delete' pk=object.pk %#}" method="post">
        {% csrf_token %}
        <button type="submit">Delete</button>
    </form>
{% endblock body %}