{% extends 'base.html' %}

{% block body %}
    <div class="container">
        <div class="container-fluid"><h1>Product List</h1></div>

        {% if perms.inventories.add_product %}
            <div class="container-fluid">
                <a class="btn btn-primary" href="{% url 'create-product' %}" role="button">Add Product</a>
                <a class="btn btn-secondary" href="{% url 'index' %}" role="button">Back</a>

            </div><br>
        {% endif %}
        <!--button id="addProductBtn">ADD PRODUCT</button-->
        <div class="container-fluid">
            <table id="productTable" class="display table">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Supplier Name</th>
                    <th>Supplier PIC</th>
                    <th>Supplier Email</th>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ product.id }}</td>
                        <td><a href="{% url 'detail-product' pk=product.pk %}">{{ product.name }}</a></td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.supplier.name }}</td>
                        <td>{{ product.supplier.contact_person }}</td>
                        <td>{{ product.supplier.email }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Include jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Include DataTables JS -->
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>
    <script>
        $(document).ready(function () {
            // Initialize DataTable
            $('#productTable').DataTable();

            // Add Product Button Click Event
            $('#addProductBtn').click(function () {
                // Redirect to add product page or trigger modal
                // Replace the below line with your desired action
                alert('Redirect or open modal to add product');
            });
        });
    </script>
{% endblock body %}